<div class="container">
    <mat-card>
        <mat-card-title><b>Thông tin cá nhân</b></mat-card-title>
        <mat-divider style="margin-bottom: 10px;"></mat-divider>

        <mat-card-content>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <br/>
                    <label>Họ tên: </label><span> {{employee.name}}</span> 
                    <br/>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <br/>
                    <label>Ngày sinh:</label><span> {{employee.birthday}}</span>
                    <br/>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <br/>
                    <label>Giới tính:</label><span> {{ (employee.sex == 'male') ? "Nam" : "Nữ" }}</span>
                    <br/>
                </div>
                
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <br/>
                    <label>Số điện thoại:</label><span> {{employee.numberPhone}}</span>
                    <br/>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <br/>
                    <a [routerLink]="['/departments']"><label>Phòng ban:</label></a><span> {{employee.department.name}}</span>
                    
                    <br/>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <br/>
                    <label>Email:</label><span> {{employee.email}}</span>
                    <br/>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-title><b>Thông tin tài khoản</b></mat-card-title>
        <mat-divider style="margin-bottom: 10px;"></mat-divider>

        <mat-card-content>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <br/>
                    <label>Tên đăng nhập:</label><span> {{employee.username}}</span>
                    <br/>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6">
                    <br/>
                    <label>Mật khẩu:</label><span> {{employee.password}}</span>
                    <br/>
                </div>
            </div>
        </mat-card-content>

        <div class="button-field">
            <button class="button-custom-goback" mat-raised-button type="button" (click)="onBack()">Back</button>
            <button class="button-custom" mat-raised-button color="primary" [routerLink]="['/employees', employee.id, 'edit']">Edit</button>
        </div>
    </mat-card>
</div>
